{
	email max.viehofer@gmail.com
	admin :2025
	grace_period 1m
}

*.m3v.dev {
	@sonarr host sonarr.m3v.dev
	handle @sonarr {
		reverse_proxy sonarr:8989
	}

	@radarr host radarr.m3v.dev
	handle @radarr {
		reverse_proxy radarr:7878
	}

	@prowlarr host prowlarr.m3v.dev
	handle @prowlarr {
		reverse_proxy gluetun:9696
	}

	@qbit host qbit.m3v.dev
	handle @qbit {
		reverse_proxy gluetun:8080
	}

	@suwayomi host suwayomi.m3v.dev
	handle @suwayomi {
		reverse_proxy suwayomi:4567
	}

	@komga host komga.m3v.dev
	handle @komga {
		reverse_proxy komga:25600
	}

	@jellyfin host jellyfin.m3v.dev
	handle @jellyfin {
		reverse_proxy jellyfin:8096
	}

	@glance host glance.m3v.dev
	handle @glance {
		reverse_proxy glance:9080
	}

	handle {
		respond "Not found" 404
	}

	tls /cloudflare-origin-cert/m3v.dev.pem /cloudflare-origin-cert/m3v.dev-key.key
}
